@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Imbue", serif;
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-block: 20px;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding-bottom: 15px;
    font-weight: 600;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 600;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  a {
    font-family: "Poppins", sans-serif;
  }
}

body {
  /* background: linear-gradient(to top, purple, pink); */
  margin: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
p {
  color: white;
}
section {
  position: relative;
}
/************** Buttons ************/

.main-btn {
  @apply inline-block rounded-md bg-primary px-1 py-1 font-bold text-white duration-300;
}
.main-btn:hover {
  @apply bg-pink-400;
}
.hero-btn {
  @apply m-4 inline-block rounded-md px-8 py-4 font-bold text-white duration-300;
}
@media (max-width: 365px) {
  .hero-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/******************* ord anmation **********/

@keyframes word {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-word {
  animation: word 7s infinite;
}
.animate-word-delay-1 {
  animation: word 7s infinite;
  animation-delay: -1.4s;
}
.animate-word-delay-2 {
  animation: word 7s infinite;
  animation-delay: -2.8s;
}
.animate-word-delay-3 {
  animation: word 7s infinite;
  animation-delay: -4.2s;
}
.animate-word-delay-4 {
  animation: word 7s infinite;
  animation-delay: -5.6s;
}

/* Footer streg */
footer .tilmeld-btn {
  height: 41px;
  place-self: center;
}
footer .linje {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* ****************** baggrund animation *************/
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(43, 43, 43) 50%, rgb(140, 0, 255) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 10s;
}

.bg3 {
  animation-duration: 9s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* Info text */

details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: " +";
}
details[open] summary:after {
  content: " -";
}

/* Tasty cheese burger */
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-transform: uppercase;
}
.nav-links a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  transform: translateX(0%);
}
.nav-links a:hover {
  color: #38b8ff;
  letter-spacing: 5px;
}
.nav-links .infoknap {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  height: fit-screen;
}
.nav-links .infoknap ul {
  display: flex;
  place-items: center;
}
.nav-links .infoknap li {
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.nav-links .infoknap li:hover {
  color: #38b8ff;
  letter-spacing: 2px;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 760px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: max-content;
    min-height: 100vh;
    background: #855cd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition: All 0.5s ease-in;
  }
  .nav-links a {
    opacity: 0;
  }
  .burger {
    display: block;
    z-index: 99;
  }
}
@media only screen and (max-width: 640px) {
  nav {
    justify-content: space-between;
    padding: 0 5vw;
  }
}
.nav-active {
  transform: translateX(0);
}
@media only screen and (max-width: 460px) {
  .nav-links {
    width: 100%;
    transition: All 0.5s ease;
  }
}
.nav-active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* *****************light bulb ***************/
.lightbulb {
  position: absolute;
}

.light {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200px;

  -webkit-animation-name: flicker;
  animation-name: flicker;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.light2 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.light_lille {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 80px;
  height: 80px;
}
.light {
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 );
}

@keyframes flicker {
  from {
    opacity: 0.5;
  }
  4% {
    opacity: 0.7;
  }
  8% {
    opacity: 0.45;
  }
  12% {
    opacity: 0.65;
  }
  16% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  24% {
    opacity: 0.6;
  }
  28% {
    opacity: 0.25;
  }
  32% {
    opacity: 0.3;
  }
  36% {
    opacity: 0.55;
  }
  40% {
    opacity: 0.4;
  }
  44% {
    opacity: 0.6;
  }
  48% {
    opacity: 0.35;
  }
  52% {
    opacity: 0.2;
  }
  56% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  64% {
    opacity: 0.65;
  }
  68% {
    opacity: 0.35;
  }
  72% {
    opacity: 0.5;
  }
  76% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.65;
  }
  84% {
    opacity: 0.4;
  }
  88% {
    opacity: 0.35;
  }
  92% {
    opacity: 0.6;
  }
  96% {
    opacity: 0.3;
  }
  to {
    opacity: 0.5;
  }
}

.skewed {
  transform: skewY(-6deg);
  transform-origin: top left;
}

.text {
  transform: skewY(6deg);
}
