@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Imbue", serif;
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-block: 20px;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
body {
  /* background: linear-gradient(to top, purple, pink); */
  margin: 0;
  height: 100%;
}
h1,
h2,
h3,
h4 p {
  color: white;
}
section {
  scroll-snap-align: start;
  position: relative;
}
/************** Buttons ************/
.main-btn {
  @apply inline-block rounded-md bg-primary px-1 py-1 font-bold text-white duration-300;
}
.main-btn:hover {
  @apply bg-pink-400;
}
.hero-btn {
  @apply m-4 inline-block rounded-md bg-pink-400 px-8 py-4 font-bold text-white duration-300;
}
@media (max-width: 365px) {
  .hero-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Burger menu */
:root {
  --menu-speed: 0.75s;
}
/* Header */
.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .btn{
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
  border-radius: 2rem;
} */

/******** Linjer på burgermenu ***************/
.menu-wrap {
  position: relative;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  z-index: 1;
  width: 56px;
  height: 53px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/*************************************** Vis menu ***************************************/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 100%;
}
.menu-wrap .menu > div {
  background-color: blueviolet;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  width: 300vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* burgermenu vis*/
.menu {
  color: white;
  font-size: 3.5em;
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 100;
  transition: all 0.3s;
  margin: 0;
  padding: 0;
}

/******************* ord anmation **********/

@keyframes word {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(-10%);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translateY(0);
  }

  40%,
  100% {
    transform: translateY(-110%);
  }
}

.animate-word {
  animation: word 7s infinite;
}
.animate-word-delay-1 {
  animation: word 7s infinite;
  animation-delay: -1.4s;
}
.animate-word-delay-2 {
  animation: word 7s infinite;
  animation-delay: -2.8s;
}
.animate-word-delay-3 {
  animation: word 7s infinite;
  animation-delay: -4.2s;
}
.animate-word-delay-4 {
  animation: word 7s infinite;
  animation-delay: -5.6s;
}

/* Footer streg */
footer .tilmeld-btn {
  height: 41px;
  place-self: center;
}
footer .linje {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* ****************** baggrund animation *************/
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(43, 43, 43) 50%, rgb(140, 0, 255) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 10s;
}

.bg3 {
  animation-duration: 9s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* bølge */
.box {
  --size: 50px;
  --p: 25px;
  --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  height: 200px;
  -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), blue 99%, #0000 101%) calc(50% - 2 * var(--size)) 0 / calc(4 * var(--size)) 100%, radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, red 101%) 50% calc(100% - var(--size)) / calc(4 * var(--size)) 100% repeat-x;
  background: #009a5b;
  border: none;
}

/* scroll snap */
.scroll_snap {
  scroll-snap-type: y proximity;
}

.child {
  scroll-snap-align: start;
}

/* kontakt spin */
.kontakt {
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
